# Node
node_modules/
.env
/dist
/build

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db

# VSCode
.vscode/

# Production
.env.production

# React build
/frontend/build/

# File uploads (resumes etc.)
backend/uploads/
