.detailCard {
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    padding: 1rem 1.5rem;
    margin: 1rem;
    border-radius: 8px;
}

.jobDescription {
    margin: 1rem;
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    padding: 1rem 1.5rem;
    gap: 1rem;
    border-radius: 8px;
}